
<div class="jumbotron">
    <div class="jumbotron-overlay">
    <small><%= student? ? "Student Account - Assignments" : "Teacher Account - Assignments" %></small>
    <h1 class="display-3"><%= "#{@user.name} #{@user.surname}" %></h1>
    </div>
</div>

<% if student? %>
    <%= render 'assignments/partials/student_assignment_index' %>
<% else %>
    <%= render 'assignments/partials/teacher_assignment_index' %> 
<% end %>