<h1><%= "#{@student.name} #{@student.surname}"%></h1>

<p>User ID: <%= @student.id %></p>

<%= link_to "Post a new assignment", new_assignment_path %>





<br />
<br />
<br />

<%= link_to "Edit Profile", edit_student_path %>