<h1><%= "#{@user.name} #{@user.surname} (ID: #{@user.id})" %></h1>


<h2>These are my reports: </h2>
<ul>
    <% @user.assignments.each do |a| %>
        <li><%= link_to a.title, "/assignments/#{a.id}" %></li> 
    <% end %>
</ul>

<% if !current_user.admin %>
    <%= link_to "Post a new assignment", new_assignment_path %><br /><br />
    <%= link_to "Edit Profile", edit_student_path %>
<% end %>

