<h1><%= "#{@teacher.name} #{@teacher.surname}" %></h1>

<h2>List of All Students</h2>

<% @students.each do |s| %>
    <%= link_to "#{s.name} #{s.surname}", "/students/#{s.id}" %><br />
<% end %>

<br />
<br />
<%= link_to "Edit Profile", edit_teacher_path %>