
@import "bootstrap";

// * {
//     border: 1px solid red;
// }

// body {
//     background: rgb(239, 239, 239);
// }

// .container {
//     margin-left: 20px;
//     margin-right: 20px;
// }

.formish {
    margin: 15px;
}

.form_head {
    margin-bottom: 20px;
}

nav {
    background: lightgray;
    // margin-bottom: 10px;
}

.col-3 {
    // background: rgb(239, 239, 239);
    border-right: 1px solid red;
    padding: 15px 15px 0 15px;
}

.col-9 {
    padding: 15px;
}

.container {
    background: white;
}

.card {
    float:left;
    margin: 15px;
}

.card-body {
    height: 215px;    
}

.clear {
    clear:both;
}

.card-footer {
    font-size: 10px;
}

.in {
    display:inline-block;
}