
@import "bootstrap";

// Revisions to Bootstrap CSS

.col-sm-9 {
    padding: 15px 15px 15px 25px;
    min-height:100vh;
}

.col-sm-3 {
    padding: 15px 25px 0 15px;
    margin-bottom:10px;
}

nav {
    position:static;
}

.navbar-brand, h1, h3 {
    font-family: 'Pangolin', cursive;
}

.jumbotron {
    background-image: image-url("cells.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
    min-height:205px;
}

a, .btn-outline-primary {
    color: #286DA8;
}

.btn-outline-primary {
    border-color: #286DA8;
}

.btn-outline-primary:hover, .btn-primary {
    background: #286DA8;
    border: 1px solid #286DA8;
}

.btn-primary:hover {
    background: #438496;
    border: 1px solid #438496;
}

.card {
    float:left;
    margin: 15px;
}

.card-body {
    height: 230px;    
}

.card-footer {
    font-size: 10px;
}


// New CSS

nav {
    border-radius:0 0 5px 5px;
}

.sidebar {
    background-color:#f8f9fa;    
    height: 100%;    
    margin: 0px;
    padding:15px;
    border-radius:5px;
}

.list {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.jumbotron-overlay{
    background: rgba(248,249,250,0.7);
    border-radius:5px;
    padding: 15px;
}

.formish {
    margin: 15px;
}

.form_head {
    margin-bottom: 20px;
}

.clear {
    clear:both;
}

.show-assignment {
    width: 80%;
    margin: 0 auto;
    padding-left:15px;
}