
<div class="btn btn-outline-primary" data-toggle="collapse" data-target="#by_assignment">By Assignment</div>
<div class="btn btn-outline-primary" data-toggle="collapse" data-target="#by_student">By Student</div>
<%= link_to "Back to Profile", user_path(current_user), class:"btn btn-outline-primary" %>


<div class="panel-collapse collapse" id="by_assignment"> 
    <hr />
    <h2>By Assignment</h2>        
    <%= render 'assignments/partials/by_assgn' %>
</div>

<div class="clear"></div>

<div class="panel-collapse collapse in" id="by_student"> 
    <h2>By Student</h2>
    <%= render 'assignments/partials/by_student' %>
</div>

<div class="clear"></div>
